@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*{
    box-sizing: border-box;
}

body
{
    background-image: url(" 15.JPG") ;
    background-size: cover;
    background-position: center center ;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
    color: whitesmoke ;
     
}
h1{
    font-weight: normal;
    font-size: 3rem;
    margin-top: 4rem ;
   
    
    
}
.Countdown-container{
 display: flex;   
 flex-direction: row;
 /* flex-wrap: wrap; */
 justify-content: center;
}

.big-text{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 2rem;
    
}

.countdown-el{
    text-align: center;
}

.countdown-el span
{
    font-size: 1rem;
}